
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Ethical Machine Learning applied to  data from Techo.org                                   -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- author: renattaGS                                                                                   -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: https://github.com/renattaGS/PAP-ML-ETICO                                               -- #
# -- --------------------------------------------------------------------------------------------------- -- #

pandas>=1.1.0
pandas-profiling>=2.11.0
numpy>=1.19.1
jupyter>=1.0.0
statsmodels>=0.11.1
openpyxl>=3.0.5
matplotlib>=3.3.1
scikit-learn>=0.23.2
